<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.dao.keyword.KeywordMapper">

    <select id="getKeywordById" resultType="cn.kgc.beans.Keyword" >
        select
                id as id,
                rid as rid,
                name as name,
                dataType as dataType,
                uuid as uuid,
                taskId as taskId,
                website as website,
                status as status,
                jobDescription as jobDescription,
                createdTime as createdTime,
                updatedTime as updatedTime
        from keyword
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getKeywordListByMap" resultType="cn.kgc.vo.KeywordVo" parameterType="java.util.Map">
        select
            k.id as id,
            k.rid as rid,
            k.name as name,
            k.dataType as dataType,
            cdt.typeName as typeName,
            k.uuid as uuid,
            k.taskId as taskId,
            ct.taskName as taskName,
            k.website as website,
            k.status as status,
            k.jobDescription as jobDescription,
            k.createdTime as createdTime,
            k.updatedTime as updatedTime
        from keyword k
            left JOIN  crawler_task ct on k.taskId=ct.id
            left join crawler_data_type cdt on k.dataType=cdt.id
        <trim prefix="where" prefixOverrides="and | or">
                <if test="rid != null and rid!=-1">
                    and rid=#{rid}
                </if>
                <if test="name != null and name!='-1'">
                    and name like concat('%',#{name},'%')
                </if>
                <if test="dataType != null and dataType!=-1">
                    and dataType=#{dataType}
                </if>
                <if test="taskId != null and taskId!=-1">
                    and taskId=#{taskId}
                </if>
                <if test="status != null and status!=-1">
                    and status=#{status}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getKeywordCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from keyword
        <trim prefix="where" prefixOverrides="and | or">
            <if test="rid != null and rid!=-1">
                and rid=#{rid}
            </if>
            <if test="name != null and name!='-1'">
                and name like concat('%',#{name},'%')
            </if>
            <if test="dataType != null and dataType!=-1">
                and dataType=#{dataType}
            </if>
            <if test="taskId != null and taskId!=-1">
                and taskId=#{taskId}
            </if>
            <if test="status != null and status!=-1">
                and status=#{status}
            </if>
        </trim>
    </select>

    <insert id="insertKeyword" parameterType="cn.kgc.beans.Keyword">
        insert into keyword(
                rid,
                name,
                dataType,
                uuid,
                taskId,
                website,
                status,
                jobDescription,
                createdTime,
                updatedTime)
        values(
                 #{rid},
                 #{name},
                 #{dataType},
                 #{uuid},
                 #{taskId},
                 #{website},
                 #{status},
                 #{jobDescription},
                 #{createdTime},
                #{updatedTime})
    </insert>

    <update id="updateKeyword" parameterType="cn.kgc.beans.Keyword">
        update keyword
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="rid != null and rid!='-1'">
                            rid=#{rid},
                        </if>
                        <if test="name != null and name!='-1'">
                            name=#{name},
                        </if>
                        <if test="dataType != null and dataType!='-1'">
                            dataType=#{dataType},
                        </if>
                        <if test="uuid != null and uuid!='-1'">
                            uuid=#{uuid},
                        </if>
                        <if test="taskId != null and taskId!='-1'">
                            taskId=#{taskId},
                        </if>
                        <if test="website != null and website!='-1'">
                            website=#{website},
                        </if>
                        <if test="status != null and status!='-1'">
                            status=#{status},
                        </if>
                        <if test="jobDescription != null and jobDescription!='-1'">
                            jobDescription=#{jobDescription},
                        </if>
                        <if test="createdTime != null and createdTime!='-1'">
                            createdTime=#{createdTime},
                        </if>
                        <if test="updatedTime != null and updatedTime!='-1'">
                            updatedTime=#{updatedTime}
                        </if>
        </trim>
    </update>

    <delete id="deleteKeywordById" parameterType="Long">
        delete from keyword where id = #{id}
    </delete>

    <delete id="batchDeleteKeyword" parameterType="java.util.Map">
        delete from keyword where id in (
            <foreach collection="ids" item="id" separator=",">
                    #{id}
            </foreach>
        )
    </delete>


    <delete id="deleteKeywordByMap" parameterType="java.util.Map">
        delete from keyword
        <trim prefix="where" prefixOverrides="and | or">
            <if test="rid != null and rid!=-1">
                and rid=#{rid}
            </if>
            <if test="name != null and name!='-1'">
                and name=#{name}
            </if>
            <if test="dataType != null and dataType!=-1">
                and dataType=#{dataType}
            </if>
            <if test="taskId != null and taskId!=-1">
                and taskId=#{taskId}
            </if>
            <if test="status != null and status!=-1">
                and status=#{status}
            </if>
        </trim>
    </delete>

    <select id="statisticListByParam" resultType="cn.kgc.vo.KeywordSortVo" parameterType="java.util.Map">
        SELECT
            NAME as name,
            COUNT(NAME) AS count,
            ROUND((COUNT(NAME)*100)/(SELECT COUNT(*) FROM recruit
                <trim prefix="where" prefixOverrides="and | or">
                    <if test="dataType != null and dataType!=-1">
                        and dataType=#{dataType}
                    </if>
                    <if test="taskId != null and taskId!=-1">
                        and taskId=#{taskId}
                    </if>
                    and status=0
                </trim>
            ),2) as percent
        FROM
            keyword
        <trim prefix="where" prefixOverrides="and | or">
            <if test="dataType != null and dataType!=-1">
                and dataType=#{dataType}
            </if>
            <if test="taskId != null and taskId!=-1">
                and taskId=#{taskId}
            </if>
                and status=0
        </trim>
        GROUP BY name
        <if test="name != null and name != '-1' ">
            HAVING name LIKE  concat('%',#{name},'%')
        </if>
        ORDER BY count DESC
        <if test="beginPos != null and pageSize != null ">
             limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="statisticCountByParam" resultType="Integer"  parameterType="java.util.Map">
        SELECT  COUNT(*) FROM(
          SELECT
              NAME  AS NAME
            FROM
            keyword
            <trim prefix="where" prefixOverrides="and | or">
                <if test="dataType != null and dataType!=-1">
                    and dataType=#{dataType}
                </if>
                <if test="taskId != null and taskId!=-1">
                    and taskId=#{taskId}
                </if>
                and status=0
            </trim>
            GROUP BY name
            <if test="name != null and name != '-1' ">
                HAVING name LIKE  concat('%',#{name},'%')
            </if>
        ) A
    </select>
</mapper>